# Compiler files
cache/
out/

# Ignores development (and goerli) broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/5/
/broadcast/**/dry-run/

# Dotenv file
.env

# Node modules
node_modules/

# pnpm store
.pnpm-store/

# pnpm lockfile
pnpm-lock.yaml

# Scripts with sensitive API keys
script/run_with_alchemy.sh